
/* Define your font stack including Indo-Pakistani Arabic fonts */
body {
  font-family: 'Noto Naskh Arabic', 'Scheherazade', 'Amiri', 'Lateef', serif;
}

.study-timer-container {
  text-align: center;
  padding: 20px;
}

.study-timer-header {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-family: 'IndoPak', sans-serif;
}

.study-timer-header h2 {
  font-size: 2rem;
}

.study-timer-header p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.study-timer-header .arabic-text-font {
  font-size: 2rem;
}

.study-timer-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  background: linear-gradient(to right, #D0F3DF, #81f763); 
  padding: 20px;
  margin: 10px auto; /* Auto margin for top and bottom, centered horizontally */
  border-radius: 8px;
  width: 80%;
  max-width: 600px; /* Max width for responsiveness */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center align content */
  overflow: hidden; /* Prevent content from overflowing */
}

.timer h1 {
  font-size: 9rem; /* Large font size for the clock */
  margin-bottom: 10px;
  color: #0a1d12; /* Main website color for the clock */
  font-family: Arial, sans-serif; /* Choose a suitable font family */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

@media screen and (max-width: 768px) {
  .timer h1 {
    font-size: 6rem; /* Adjust font size for smaller screens */
  }
  .timer {
    width: 90%; /* Adjust width for smaller screens */
    margin: 20px auto; /* Increase margin for smaller screens */
  }
}


.timer-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-controls > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.timer-controls select {
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #D0F3DF;
  margin-right: 10px;
  max-width: 100%; /* Ensure dropdowns expand to fit container */
}

.timer-controls button {
  background-color: #D0F3DF;
  color: rgb(67, 63, 63); /*  text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin: auto 20px; /* Auto margin for left and right, centered horizontally */

}

.timer-controls button:hover {
  background-color: #D0F3DF;
}
.timer-controls .pause-button {
  background-color: #9c1a09; /* Red color for the button */
  color: rgb(67, 63, 63); /*  text color */
  border: none; /* Remove default button border */
  padding: 10px 20px; /* Padding for the button */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style */
  font-size: 1rem; /* Font size */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.timer-controls .pause-button:hover {
  background-color: #be1e0f; /* Darker red color on hover */
}


.timer-controls .naturebutton {
  background-color: #010104; /* Darker red color on hover */
}
