/* Define your font stack including Indo-Pakistani Arabic fonts */
body {
  font-family: 'Noto Naskh Arabic', 'Scheherazade', 'Amiri', 'Lateef', serif;
}

.arabic-text-font {
  font-family: 'IndoPak', sans-serif;
  font-size: 2rem;
}

.study-timer-container {
  padding: 20px;
}

.study-timer-header {
  margin-bottom: 20px;
  font-family: 'IndoPak', sans-serif;
}

.timer {
  background: linear-gradient(to right, #D0F3DF, #50a4b5);
  padding: 20px;
  margin: 10px auto;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.timer h1 {
  font-size: 9rem;
  margin-bottom: 10px;
  color: #0a1d12;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .timer h1 {
    font-size: 6rem;
  }
  .timer {
    width: 90%;
    margin: 20px auto;
  }
}

.custom-select-width {
  width: auto; /* Adjust as necessary */
  max-width: 200px; /* Set the maximum width */
}

